* text=auto

*.sh text eol=lf
*.py text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.css text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.md text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.ico binary
*.sqlite3 binary
CODEOWNERS text eol=lf
Dockerfile text eol=lf
nginx.conf text eol=lf
Caddyfile text eol=lf
.gitattributes text eol=lf
